.postPage-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 1px solid white;

}
.title-postPage{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;

    
}

hr {
    border: 1px solid white;
    width: 100%;
}

.post-form
{
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.post-form-control {
    background-color: rgb(57, 57, 57);
    color: #7b7d7e;
    border-radius: 20px;
}

.input-margin {
    margin: 10px;
}

#text {
    height: 100px;
}