.post {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
}

.post-component {
    width: 100%;
}

.post-container {
    display: flex;
    margin: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #1a1a1b;
    background-color: #1a1a1b;
    color: #d7dadc;
}

.post-container:hover {
    border: 2px solid #2a2a2b;
    background-color: #2a2a2b;
    cursor: pointer;
}

.votes-container {
    background-color: #161617;
    margin: 0;
    padding: 0;
    width: 5%;
   

}
.votes-container div {
    display: flex;
    flex-direction: column;
    padding: 20%;
    justify-content: center;
    align-items: center;
    margin: 10px ;

}

.user-color {
    color: #696b6b;
}

#post-icons {
    color: #616263;
   
}

/* make a modal in the center of the screen for post details with absolute positioning only with the width and height of a square and have the background behind the modal haev an opacity see through */

.post-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 810px;
    background-color: #1a1a1b;
    border-radius: 5px;
    border: 2px solid #1a1a1b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
 /* put the post-nav on top of the post-details container */
.post-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #d3d3dc;
    border-radius: 5px;
    border: 2px solid #1a1a1b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.post-nav-item {
    padding: 20px;
    margin: 10px;
    
}
#post-title-item {
    font-size: 20px;
    font-weight: bold;
    color: #1a1a1b; 
    margin-right: 900px;
}

.post-details-container {
    background-color: #d3d3dc;
    padding: 30px;
    margin: 15px;
    height: 50%;
    border-radius: 2px;
}
.post-details-footer {
    background-color: #d3d3dc;
    
    margin-top: 50px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-details-header-item {
   padding: 5px; 
   
}
.post-details-content {
    background-color: #d3d3dc;
    padding: 30px;
    margin: 10px;
    height: 50%;
    border-radius: 2px;
}

.post-details-content-item {
    padding: 5px;
}
.POST-CONTAINER {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

.post-details {
    height: auto;
}

.community-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1c1c9;
    background-color: #c1c1ca;
    color: #000000;
}
.post-image {
    max-width: 100%;
    margin: auto;
    height: 100%;
    border-radius: 5px;
}

.comments {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #c1c1c9;
    color: white;
}


/* media quiers */

@media screen and (max-width: 600px) {
    .post-component {
        width: 100%;
    }
    .post {
        margin: 10px;
        padding: 15px;

    }
}