* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a1a1b;   
    padding: 5px;
}

#icon {
    color: red;
    font-size: 30px;

}


.nav-btn-div {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.nav button {
    
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.searchbar {
    font-size: 30px;
    position: relative;
}
.searchbar input{
    background-color: #272729;
    padding-left: 40px;
    font-size: 40px;
    margin-bottom: 5px;
    border-radius: 30px;
    border: none;
    color: white;
}

.mysearchicon {
    left: 10px;
    top: 25px;
    margin-top: -20px;
    position: absolute;
    color: gray;
}

.inner-nav-btn {
    padding: 5px 10px 5px 10px;
    color: #757778;
}

#btn-1 {
    background-color: 
    #1a1a1b;
    color: white;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid white;
}

#btn-2 {
    background-color: 
    #d7dadc;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    border: 1px solid black;
}


.dropdown {
    padding: 5px;
}

/* hovers */

#btn-1:hover {
    cursor: pointer;
    opacity: 0.8;
}

#btn-2:hover {
    cursor: pointer;
    opacity: 0.8;
}


.dropdown:hover {

    cursor: pointer;
}


/* modal */

.registration-modal-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 600px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.inner-div-modal {
    margin: 150px 15px 150px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#close-icon-modal {
    float: right;
    padding: 15px;
    font-size: 30px;
}


/* dropdown container!  */


.dropdown-container {
    color: white;
    background-color: #1a1a1b;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 120px;
    padding: 15px;
}

.mode {
    
}
.outside-circle-div {
    float: right;
    background-color: black;
    padding: 5px;
    height: 5px;
    border-radius: 25px;
}

.inside-circle-div {
    background-color: green;
    border: 2px solid white;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    transform: scale(2, 0.5);
}

.inside-circle-div:hover  {
    cursor: pointer;
}